[project]
# pip python-practices
name = "python-practices"
version = "1.0.0"
description = "A sample Python project"
readme = "README.md"
requires-python = ">=3.11"
license = { file = "LICENSE.txt" }
authors = [{ name = "Marko" }]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Topic :: Software Development :: Build Tools",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.11",
]

dependencies = ["autopep8", "black", "flake8", "numpy", "openpyxl", "requests"]

# If we were using setuptools
# [build-system]
# requires = ["setuptools>=63.0.0", "wheel"]
# build-backend = "setuptools.build_meta"
